[2011-05-16 11:38] jcassee opened #1 "Check Clicky Javascript code against recent changes"
See http://getclicky.com/blog/256/tracking-code-updates

[2011-06-28 16:42] edavis opened #2 "Failing tests (perhaps) related to settings_manager"
Hi,

I've ran into a few problems while running django-analytical's test suite.  The root of the problems appear to be related `settings_manager` and its calling of `syncdb` when `INSTALLED_APPS` is passed in.

Below, in a freshly created Django 1.3 environment using sqlite3 without South or anything, `_get_domain` returns the default `Site` object's domain even though the test (`analytical.Chartb

[2011-06-29 05:05] #1 closed, assigned to nobody

[2011-07-04 12:03] #2 closed, assigned to nobody

[2011-09-01 14:04] eykd opened #7 "Enable other tracking types for Google Analytics"
Google Analytics has three styles of tracking:
- Single domain (which is the code Analytical produces)
- One domain with multiple subdomains
- Multiple top-level domains

It would be really nice to enable the last two use-cases.

One domain with multiple subdomains adds this to the single-domain code:

[code]

Multiple top-level domains adds this to the single-domain code:

[code]

Supporting this

[2011-09-12 06:05] edavis opened #8 "SETTING_DELETED isn't working as intended"
Hi Joost,

I think I've caught a subtle bug in how `get_required_setting` handles `SETTING_DELETED`.

As I understand it, when you set a settings key to `SETTING_DELETED` via `@override_settings` you intended for it to raise an `AttributeError` when retrieved via `get_required_setting`.

However, instead of raising an `AttributeError` in the `getattr` call -- as I think you intended it -- it's ins

[2011-09-16 19:25] #8 closed, assigned to nobody

[2011-09-17 22:39] #7 closed, assigned to nobody

[2011-09-18 03:33] poswald opened #10 "Triggering events in view code"
Setting template context variables and having them output as Javascript is a good solution for events/properties that are triggered by GET requests. For view-based code it makes things a little harder because the [POST-Redirect-GET](http://en.wikipedia.org/wiki/Post/Redirect/Get) pattern wipes out the context. In the Mixpanel documentation for django-analytical you recommend using something like t

[2012-01-29 05:22] erikankrom opened #13 "Support for UserVoice Feedback Widget"
UserVoice: http://uservoice.com/widget/
Certain customizations would also apply: http://feedback.uservoice.com/knowledgebase/articles/16797-how-do-i-customize-and-install-the-uservoice-feedb

[2012-09-23 09:38] jacksongs opened #20 "New Clicky tracking code?"
Hi there,

I have been trying to get django-analytical up with Clicky on my site this weekend. Finally seem to have got it up after putting the tracking code I got form the Clicky site in the click.py in the templatetags folder (it's substantially different).

Maybe they have changed the tracking code recently?

Anyway - looks awesome. Now all I need to do is work out how to integrate usernames! A

[2012-10-18 07:37] #13 closed, assigned to nobody

[2012-12-21 20:57] #20 closed, assigned to nobody

[2013-03-11 09:37] tinnet opened #24 "RFC: python3 support (which would mean dropping atleast 2.5)"
Hi, since django 1.5 was just released with preliminary python 3 support, i think it's a good time to discuss what python3 support would mean for this app.

There are pieces of code that simply are impossible to do in a way that is supported from python2.5 up to 3.3 :( e.g. exception handling (http://stackoverflow.com/questions/11285313/try-except-as-error-in-python-2-5-python-3-x)

What are your

[2013-04-30 19:36] ormeirov opened #27 "Integrating ClickTale service into django-analytical"

[2013-05-17 15:34] benregn opened #28 "Support for GA Universal Analytics?"

[2013-07-17 11:04] benbakhshi opened #29 "Reinvigorate URL incorrect"
I just clicked through the Reinvigorate url at https://github.com/jcassee/django-analytical
It goes to Reinvigorate.com, which is not correct, it should be reinvigorate.net

Cheers,
Ben @ Coordinato.com

[2013-07-17 21:23] #29 closed, assigned to nobody

[2013-12-20 23:04] jmwilliams opened #34 "Tests fail with AnalyticalException not raised when settings are not set"
======================================================================
FAIL: test_no_site_id (analytical.tests.test_tag_clicky.ClickyTagTestCase)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "build/bdist.macosx-10.8-intel/egg/analytical/tests/utils.py", line 80, in inner
    return test_func(*args, **kwargs)
  File "build/bdist.ma

[2014-03-28 23:15] bittner opened #35 "Support for Piwik"
Do you plan to support [Piwik](http://piwik.org/what-is-piwik/)? (Has this been requested before?)

An (elderly) example of JavaScript code used for Piwik is available at e.g. [django-piwik-analytics](https://github.com/glogiotatidis/django-piwik-analytics/blob/master/piwik_analytics/templates/google_analytics/piwik_analytics_template.html)

[2014-05-09 20:30] craigbruce opened #38 "Update HubSpot tracking code"
The tracking code for HubSpot is out of date. It is now async and only requires your Hub/Portal ID (no domain). I'm proposing I update the code and remove the `HUBSPOT_DOMAIN` variable.

You can see snippet of the new code at the base of http://knowledge.hubspot.com/getting-started-with-hubspot/how-to-install-the-tracking-code-on-a-generic-website

Any objections to writing a PR for this?

[2014-07-06 19:27] #35 closed, assigned to nobody

[2014-07-06 19:29] #38 closed, assigned to nobody

[2014-07-09 08:35] bittner opened #42 "Admin integration for Piwik (dashboards)"
According to Piwik's [Best Practice for Integration Plugins](http://piwik.org/integrate/how-to/) we should be adding integration of Piwik dashboards into Django's admin.

NOTE: This is a follow-up enhancement request on issue #35

[2014-08-13 09:56] 7wonders opened #44 "Add fullname and email to olark"
I will submit a pull

[2014-08-13 10:31] ScottEAdams opened #46 "avoiding 'RequestContext' object has no attribute 'items'"
I use TEMPLATE_CONTEXT_PROCESSORS to chuck in some extra context for olark (nickname, email, fullname, translations etc). I have a whole bunch of views that do somthing like this:

[code]

They throw the items error. Those I can fix to use the proper render or context_instance= methods as you recommend in the tutorials but it doesn't fix views I have from external modules and so forth.

However us

[2014-08-18 12:34] benje opened #47 "Heap Integration"
Hey,
Thanks for developing django-analytical I think it's great.
Would really love it to have a Heap Analytics integration (http://heapanalytics.com) as their service is excellent.

Would be happy to try contribute it myself if somebody wouldn't mind checking over my code? (open source noob!)

Cheers

[2015-02-25 20:56] delta440 opened #51 "Clickmap doesn't work with new ID's"
My guess is clickmap changed their ID format because mine looks like WVXXXWX5UGKXXX0F16021157XXI3PYX8 and your code seems to have a check in place to only accept a numeric ID

[2015-02-25 21:18] delta440 commented on #51
After the following changes:
- CLICKMAP_TRACKER_ID_RE = re.compile(r'^\d+$')
+CLICKMAP_TRACKER_ID_RE = re.compile(r'^\S+$')

-                "must be a (string containing) a number")
+                "must be an alphanumeric string")
I received a 'ClickmapNode' object has no attribute 'portal_id' error

[2015-02-26 10:25] jcassee commented on #51
Thanks, I'll change this shortly.

[2015-03-09 19:32] #44 closed

[2015-04-19 08:53] jcassee commented on #24
Fixed by @amadornimbis in #52, merged as aab1cfc508040ea87593e48b4d266800ba568635 and release as 0.21.0.

[2015-04-19 08:53] #24 closed

[2015-04-19 08:55] jcassee commented on #47
Hi Ben, sorry for being absent. If you are still interested in contributing, I am happy to go over your code.

[2015-04-19 09:09] jcassee commented on #51
Fixed in e44141be803a4a9b3adeaee9d61cea605d7cb245.

[2015-04-19 09:09] #51 closed

[2015-04-19 09:21] jcassee commented on #46
Hi Scott, not sure if you are still interested in this issue, but I was looking at this and I see a problem with your solution: what happens if the *value* of a context variable starts with `olark_`?

Apart from that, I think searching a string-representation, although clever, is a bit too ... clever. I do want to fix the problem, though, so can you tell me a bit more about the problem? For exampl

[2015-04-19 09:27] jcassee commented on #42
Hi Peter, sorry for not replying earlier. As this demonstrates, I also have pretty limited time, though I still *intend* to keep the project alive. I am looking for something more of a (co-)maintainer, and I completely understand your focus on django-organice (which looks, well, really nice).

[2015-04-19 09:30] jcassee commented on #34
Hi Jimi, is this still an issue? Could you tell me a bit more about your use-case? Those tests run fine on the Python/Django versions specified in `tox.ini`.

[2015-04-20 09:09] bittner commented on #42
Okay, I agree. After all, the worst thing that can happen is that it turns out my time is as limited as yours. Then pull requests continue to sit there unanswered.  :smirk:

Seriously, let's give it a try.

[2015-04-20 09:34] jcassee commented on #42
Alrighty then! Let's promote you.

[2015-04-20 12:32] bittner commented on #42
Looks like we can now update the [README](/jcassee/django-analytical/blob/master/README.rst). And hey, accidentally I'm using Django every day!  :smiley:

[2015-04-20 13:03] jcassee opened #54 "Test with Django 1.8"

[2015-04-20 13:07] bittner commented on #54
Can't we just add another line to the test matrix in the [Travis file](/jcassee/django-analytical/blob/master/.travis.yml), and trigger the test suite?

[2015-04-20 13:10] jcassee commented on #54
Indeed, that is all, but I needed a place to empty my brain.

[2015-04-20 23:11] jcassee commented on #54
Fixed by #55

[2015-04-20 23:11] #54 closed

[2015-05-15 03:28] mgaitan opened #59 "Not compatible with python 3?"
I was trying to setup analytics for [Walik](https://github.com/mgaitan/waliki)'s demo and it doesn't work with python 3.4.

[code]

[2015-05-15 14:10] mgaitan commented on #59
I don't know why I have cached a very old version. it's a false alarm

[2015-05-15 14:10] #59 closed

[2015-05-19 20:40] jcassee commented on #28
@max-arnold It's been a while, but are you still interested in contributing Google Universal Analytics?

[2015-05-20 01:58] max-arnold commented on #28
I'm sorry, but I haven't managed to allocate enough time for this plugin and solved my need by integrating analytics.js directly into my projects. I did some hacking in separate branch, but there is not enough useful code to contribute. Feel free to reassign this issue to someone else.

[2015-05-20 02:02] mgaitan commented on #28
@jcassee I could do it the next weekend. should we deprecate the current analytic support, replace it or support both versions?

[2015-05-20 11:03] jcassee commented on #28
@max-arnold No problem, it's been almost two years.

@mgaitan Thanks! The two analytics systems are [still advertised](https://developers.google.com/analytics/devguides/collection/web/) so I think it should be a separate module that we support alongside the classic version.

[2015-08-24 12:24] bittner commented on #28
Anyone still interested in GA Universal Analytics? - Pull request anyone?

[2015-08-24 12:25] bittner commented on #47
Anyone still interested in this integration?

@jcassee You've mentioned releasing 1.0.0 (in #56). We now have beautiful badges and a test suite covering all Python and Django versions. If no-one desperately needs new services integrated at the moment it's probably a good time to release the first major version.

[2015-09-13 06:04] bittner opened #67 "Intercom integration"
[Intercom](https://www.intercom.io/) is (a web analytics and) support chat solution that seems to be getting popular these days. It looks especially nice on your website. Only the web analytics part is free (as a beer), see the range of their [product packages](https://www.intercom.io/pricing).

The documentation on how to integrate Intercom into a website is available [when you attempt to sign up

[2015-09-13 06:21] bittner commented on #67
Ooops, I missed that it is already included.  :blush:

[2015-09-13 06:21] #67 closed

[2015-09-24 17:05] bittner commented on #46
@7wonders Scott, is this still an issue?

Ideally, you would first write some test code that *fails* with the current implementation. Then we try your approach, and - if it also fails - we adapt it until we have this issue fixed forever.

[2015-09-24 17:24] bittner commented on #27
@ormeirov Are you still interested in integrating of [ClickTale](http://www.clicktale.com/)? I'm not using their service, but the company is still alive and their service looks promising. Looking forward to reviewing your pull request.

Looks like you have to sign up for a trial or demo to make them reveal their integration code "secrets". A little odd.  :astonished:

[2015-09-24 17:28] bittner commented on #34
Closing this issue due to inactivity. If this is reproducible somehow, @jmwilliams, please reopen and update the description with more details.

[2015-09-24 17:28] #34 closed

[2015-09-24 17:44] bittner commented on #47
@benje Do you need some assistance in contributing the integration code for Heap analytics?

The integration code from the [Heap docs](https://heapanalytics.com/docs/installation) would have to be placed into a Python module, a simple `.py` file similar to [spring_metrics.py](https://github.com/jcassee/django-analytical/blob/master/analytical/templatetags/spring_metrics.py). Don't forget to write

[2015-09-25 10:26] benje commented on #47
Thanks for the tips @bittner, I will give it a go soon and submit a pull request.

[2015-09-25 11:13] bittner commented on #47
Awesome!  :+1:   You can now also use the Gitter chat room if you need support. See the README.

[2015-11-20 17:45] hobarrera opened #72 "New release?"
It's been a while since the last release, and the latest `master` crashes with django19 (which is at rc, and will be release in less than a couple of weeks).

Can we get a new release (1.0.1?), that's django19-compatible? :)

[2015-11-20 19:45] bittner commented on #72
All our builds are passing. As long as Django 1.9 is not stable don't expect it to be added to the build matrix.

What is crashing? Can you post a stack trace? Can you provide a PR?

[2015-11-20 20:13] hobarrera commented on #72
Django 1.9 has already been stabilized, and is currently on rc1.

`master` works with django1.9, but the latest release isn't working, that why I was merely mentioning a new release and didn't give much more details. :D
Notably, 87bb09c fixes a deprecation from 1.7 that no longer works on 1.9, but that didn't make it into 1.0.0.

[2015-11-20 23:34] bittner commented on #72
I'd recommend you add 1.9 to the [build matrix](https://github.com/jcassee/django-analytical/blob/master/tox.ini), and we see what happens. If all goes well with the code as it is. Your PR is appreciated.

As soon as 1.9 is officially out we'll merge that into `master` and package a release, I'd suppose.

[2015-11-20 23:56] hobarrera commented on #72
I've added 1.9 to the dependency matrix (along with py35 which was also missing, and has been release for some time now).

Hopefully this can be merged in and a new release can be made? :D

[2015-12-31 20:25] mkane848 opened #76 "PIWIK_DOMAIN_PATH regex forbids 'localhost/piwik'"
While I got around the issue by using  `PIWIK_DOMAIN_PATH = '127.0.0.1/piwik' `, I get the Exception of `PIWIK_DOMAIN_PATH setting: must be a domain name, optionally followed by an URI path, no trailing slash (e.g. piwik.example.com or my.piwik.server/path)` if I have it just set as localhost/piwik. I assume that `^(([^./?#@:]+\\.)+[^./?#@:]+)+(/[^/?#@:]+)*$` wants to see a '.' in there somewhere

[2016-01-01 01:29] bittner commented on #76
Exactly, the [regular expression](https://github.com/jcassee/django-analytical/blob/master/analytical/templatetags/piwik.py#L17) looks for a minimum of a `<domain>.<tld>` expression.

Can you explain why a private host makes sense in the context of Piwik? If a page in the browser is loaded then `localhost` would try to access a a resource local to the calling agent. Are you sure you want that?

##

[2016-01-04 15:54] mkane848 commented on #76
Confirmed that the new regex allows localhost, thanks! Using it for the sake of local testing to try it out, thanks for the help

[2016-01-06 13:17] #76 closed

[2016-01-12 21:07] brainrape commented on #72
bump

[2016-01-12 21:10] bittner commented on #72
@brainrape See [our Gitter chat](https://gitter.im/jcassee/django-analytical). Joost must take a decision on the version number. We're getting there.

[2016-01-12 21:11] brainrape commented on #72
Thanks

[2016-01-16 22:40] jcassee commented on #72
Finally release version 2.0.0 that is compatible with 1.9 thanks to @hobarrera.

[2016-01-18 09:16] #72 closed

[2016-02-07 06:11] techdragon opened #81 "Support Inspectlet"
Rather useful tool. https://www.inspectlet.com/

I dont have time to write a PR for this myself yet, but I'm sure I'll have to clean up my analytics integrations eventually, and such a PR may be the easiest way to do it. In the mean time I'll just leave this here in case anyone else wants to do it before I get to it.

[2016-02-08 09:37] jcassee commented on #81
Sounds good!

[2016-02-13 20:29] KaySackey opened #82 "Remove obsolete Reinvigorate.net support"
Reinvigorate.net closed about a year ago, so it should be removed from this project.

[2016-02-13 20:40] jcassee commented on #82
Thanks for the heads-up. I'll remove it.

[2016-04-03 09:20] sikmir opened #83 "Support Yandex.Metrica"
[Yandex.Metrica](https://metrica.yandex.com) is an analytics tool like as google analytics.

[2016-04-15 23:42] apardes opened #85 "ImportError: No module named 'analytical'"
After installing on Ubuntu 14.04 running Python3.5 and Django 1.8.4 I'm getting an `ImportError: No module named 'analytical'` error. A similar env running Mac OS 10.10.5 does not experience this issue.

I have added `analytical` to my INSTALLED_APPS and added the basic template tags to my base template.

[2016-04-16 06:36] bittner commented on #85
This is a very generic error saying the module is not installed.

* Can you elaborate how you installed Python 3.5 and `django-analytical`?
* In the terminal, when you run `python3.5` and execute `import analytical`, does it work?

If you did run `pip install django-analytical` you may have installed it for a different Python version on your system. Ubuntu 14.04 ships both Python 2.7 and 3.4 by de

[2016-04-18 16:46] rocktavious commented on #28
+1 still interested

[2016-04-20 05:49] bittner commented on #67
**Update:** Intercom support refuses to list third-party applications in their documentation.

[2016-04-20 05:51] bittner commented on #85
@apardes Aaaron, any news on this? Were you able to resolve the issue on your own?

[2016-04-24 09:24] sikmir opened #87 "Support Rating@Mail.ru"
[Raiting@Mail.ru](https://top.mail.ru) is an analytics tool like as google analytics.

[2016-04-25 07:25] bittner commented on #85
I'm closing this issue for lack of activity/response. If this is still relevant please feel free to reopen it.

[2016-04-25 07:25] #85 closed

[2016-04-25 07:55] bittner commented on #82
Additional clarification: Reinvigorate has not gone out of business, they have been bought by [Webtrends](http://www.webtrends.com/).

Unfortunately, this doesn't really change the fact that it needs to be removed from the code base. Integration docs are difficult to find, and it looks like their service is not even popular.

## References

* [Last notes on their Facebook account](https://www.face

[2016-05-18 23:05] bittner commented on #47
@benje Still interested in contributing? It's not too difficult to do, almost a copy+paste job. But this is preferably done by someone who actually uses the integration, to confirm it works out well.

[2016-05-19 08:09] #82 closed

[2016-05-25 08:00] bittner commented on #83
Fixed via #84.

[2016-05-25 08:00] #83 closed

[2016-05-25 23:52] sikmir commented on #87
Fixed via #88.

[2016-05-25 23:52] #87 closed

[2016-05-26 16:26] bittner commented on #46
@7wonders Reading your error description it looks obvious that your `RequestContext` is not populated correctly. If we can make sure this problem is generally valid, and not just specific to your installation, we can try to come up with a solution. Ideally, starting with a failing test case, as mentioned above.

Here is the code I can reproduce the error message with: (= the title of this issue)
[

[2016-05-26 16:32] bittner commented on #28
@rocktavious Are you willing to contribute the implementation? This is an easy thing: Just take one of the existing implementations in [templatetags](https://github.com/jcassee/django-analytical/tree/master/analytical/templatetags), and roll your modified version.

If you need help with coding you can post your questions in our Gitter room (see the [README](https://github.com/jcassee/django-analyt

[2016-05-31 04:12] kevinmickey commented on #28
Migration guide: https://developers.google.com/analytics/devguides/collection/upgrade/reference/gajs-analyticsjs

Here's a start to `google_universal.py`.  If someone looks it over, tries it out, and writes some tests, they can create the pull request:

[code]

[2016-05-31 15:07] rocktavious commented on #28
I will definitely take a look at integrating this next week, i'm currently at Pycon and won't beable to test integration this week.

[2016-07-15 08:51] EvaSDK opened #96 "Piwik fallback img tracking is only served as plain HTTP"
In the `noscript` case, the tracking img is served as HTTP only:
https://github.com/jcassee/django-analytical/blob/master/analytical/templatetags/piwik.py#L37

However, if the site is served through HTTPS, this might trigger security warnings.

As a side note, since this is a `templatetag`, this could use request context to detect scheme and not rely on javascript to switch between HTTP and HTTPS.

[2016-07-15 08:57] jcassee commented on #96
Good point. Most snippets just remove the scheme from the URL (`src="//%(url)s/piwik.php?idsite=%(siteid)s"`). Not all template contexts include the request, right?

[2016-07-15 11:36] EvaSDK commented on #96
All `TemplateView` or View's inheriting `TemplateResponseMixin` as long as `response_class` is not overridden will have request in their context. See https://github.com/django/django/blob/master/django/template/response.py#L143. However if `//` achieves the same, that's good enough for me.

[2016-07-15 11:59] bittner commented on #96
Note that the protocol depends on whether the server supports it. Since Piwik is probably self-hosted in most cases we can't rely on HTTPS to be available. We should mention this detail [in the documentation](https://github.com/jcassee/django-analytical/blob/master/docs/services/piwik.rst#setting-the-domain).

[2016-11-18 14:46] h-2-0 commented on #28
@jcassee, @kevinmickey, @rocktavious
Hi, Joost Kevin and Kyle!

I just created an account on Google Analytics for the first time and installed django-analytical. I'm very excited to start using django-analytical. But I noticed the javascript code embedded into my base template using django-analytical doesn't quite look like the one I get from Google Analytics dashboard or the one you posted above,

[2016-12-07 07:24] divick commented on #28
+1

[2016-12-09 21:39] garrettr opened #99 "Hard to use in development environment"
I just used django-analytical to integrate Piwik analytics into a site, using the Piwik-specific template tag as documented [here](https://django-analytical.readthedocs.io/en/stable/services/piwik.html). It works great in production, but unfortunately it causes problems for our development environment.

Obviously we don't want to track visits to the site when it's running on a local development se

[2016-12-09 23:15] garrettr commented on #96
Wouldn't it make more sense to specify the scheme in `PIWIK_DOMAIN_PATH`? A lot of the code in `analytical/templatetags/piwik.py` seems to assume that the scheme of the server where the Piwik tracking code is being injected and the Piwik server itself are the same, but that is not a valid assumption.

For backwards compatibility, it would probably best to simply _allow_ the scheme to be specified

[2016-12-12 07:12] bittner commented on #96
Yes, that's definitely possible. There are two things that come into my mind, though, with your proposal:

- Better fall back to something generic, i.e. `//` instead of `http://` (as proposed by Joost above)
- When we have a complete URL then `PIWIK_DOMAIN_PATH` is the wrong name for the property; it should be named `PIWIK_URL`). In other words, add a new property and deprecate the old one.

[2016-12-12 07:59] bittner commented on #99
We should fix the implementation. Development should be easy, ideally intuitive.

[2016-12-12 08:38] bittner commented on #99
I think you should use the `INTERNAL_IPS` settings property for development. This feature is [covered by the tests](https://github.com/jcassee/django-analytical/blob/master/analytical/tests/test_tag_piwik.py#L92), so it should work reliably.

The sentence _"If you do not set the site ID the tracking code will not be rendered"_ in the [documentation](https://django-analytical.readthedocs.io/en/stab

[2017-01-11 19:27] garrettr commented on #99
I just discovered that the generic tags (`{% analytical_head_top %}`, etc.) work differently than the specific tags (e.g. `{% piwik %}`). Unlike the specific tags, which fail with an error if the corresponding configuration is unavailable or invalid, the generic tags fail silently if there are no analytics services configured in the settings. I think the generic tags' behavior is better, and makes

[2017-01-13 20:09] sebzur commented on #99
I have just noticed the same problem as @garrettr . `INTERNAL_IPS` does not solve the problem - there should be some settings variable disabling the Piwik tag.

What `INTERNAL_IPS` scenario is missing is that when one has the dev server running on some machine and a team of developers/testers sending the requests from their local machines or mobile devices one would have to register all that devic

[2017-01-13 23:01] bittner commented on #99
@sebzur Difficult to say. A new setting to disable analytical globally may be practical. Though, I'm not a big fan of polluting the code with additional settings. _"There should be one-- and preferably only one --obvious way to do it."_ ([PEP 20](https://www.python.org/dev/peps/pep-0020/))

The beauty of `INTERNAL_IPS` is that this is a functionality provided and used by the Django framework itsel

[2017-01-20 21:41] #96 closed

[2017-01-21 12:24] EvaSDK commented on #96
Thanks.

[2017-01-21 13:25] bittner commented on #96
Thank you @garrettr and @EvaSDK!

[2017-01-24 21:50] doctorlard commented on #99
Could you not simply check a setting in your base template(s)? For example:
`{% if not settings.DEBUG %}{% analytical_body_bottom %}{% endif %}`

[2017-01-29 21:26] bittner opened #103 "Hotjar integration"
Should we consider integrating [Hotjar](https://www.hotjar.com)?

Documentation
----------------

- [Hotjar tracking code](https://docs.hotjar.com/docs/hotjar-tracking-code)
- [What is Hotjar?](https://docs.hotjar.com/docs/what-is-hotjar)

[2017-01-29 21:31] bittner opened #104 "Extend the tests (tox, Travis CI) to Django 1.10"
Extending the tests to Django 1.10 is more than simply updating [tox.ini](https://github.com/jcassee/django-analytical/blob/master/tox.ini#L5) and [.travis.yml](https://github.com/jcassee/django-analytical/blob/master/.travis.yml#L23): A DjangoTemplates backend needs to be configured. A tox run yields errors for Django 1.10:

[code]

Related Django docs
---------------

- [Topics: Templates](https

[2017-03-21 08:33] frague59 opened #107 "Use analytical with require.js"
Hi,
Is there a way to use analytical (fo piwik) with a require.js enabled site ?
Thanks !

[2017-03-22 10:09] jcassee commented on #107
Hi François, I do not think the tags will interfere with JavaScript loaded through require.js. Or did you have something else in mind?

[2017-04-05 14:20] bittner commented on #28
Just checking, do we mean to support Google Tag Manager too by this implementation? ([What is the difference?](http://stackoverflow.com/questions/23640645/what-is-the-difference-between-google-tag-manager-and-google-analytics))

*Disclaimer:* I'm not using GA for years. So, my knowledge about it is fairly rusty.

[2017-04-28 16:05] dufrenb commented on #103
Hello!
Does Hotjar integration still planned?

[2017-04-29 11:39] bittner commented on #103
@dufrenb Thanks for asking!

It's the other way round, though. If you want Hotjar integration please consider placing a pull request. Or [bug the Hotjar team](https://www.hotjar.com/contact) to do it for you in this repository. There is no such thing as a free lunch.

[2017-05-03 13:30] dufrenb commented on #103
@bittner
I was searching to use an analytical service in a web site for a client so I switch to use Clicky.
I think have Hotjar integrated as the others here: https://pythonhosted.org/django-analytical/services.html could be very good idea!

[2017-05-03 18:22] bittner commented on #103
I agree. If you want to have it added to the list, come the repository, look at the code and write your implementation of the integration. It's not difficult to do.

We don't get paid, neither for promoting not for implementing integrations. Hence, it depends on the popularity of a service and the needs of our users (Django developers who like this app). If you feel it's missing add it to the code

[2017-06-14 11:29] qurm opened #108 "Any support planned for the newer Google analytics.js library?"
Hi team,

I see that the ga.js, has been replaced by a later library, and that is recommended for new implementations.  Would be great if you are able to support that also, perhaps in parallel to the ga.js for some time.
https://developers.google.com/analytics/devguides/collection/gajs/

Thanks for all your good work with djang-analytical,
Andy

[2017-06-14 12:14] jcassee commented on #108
Thanks for the heads-up! The JavaScript snippets are really just strings in Python sources. Do you think you could submit the changes yourself in the form of a pull request?

[2017-06-20 18:37] lggwettmann opened #109 "Support for Google Tags Manager?"
Hey guys,

any support planned for Google Tags Manager?

[2017-06-21 13:33] jcassee commented on #109
Hi Lars, as we are currently not using Google Tags Manager, do you think you would be able to add the functionality in a pull request?

[2017-08-10 22:45] jorenham opened #110 "Support for AMP analytics"
In Accelerated Mobile Pages, regular javascript is prohibited. Instead, it provides an `amp-analytics` tag with a lot of customizability.  Are you planning on supporting this?
https://www.ampproject.org/docs/reference/components/amp-analytics

[2017-08-13 19:53] jcassee commented on #110
Thanks for the link to APM analytics, Joren. I am currently not using it, but it sounds like a great feature. Would you be able to contribute an implementation?

[2017-08-13 20:07] jorenham commented on #110
@jcassee As much as I'd want to, I'm afraid I don't have the time to build such a feature, especially since it'll be a rather big feature.

[2017-08-14 11:13] jcassee commented on #110
I am not sure it would be a big feature, actually. The secret to this project is that it really does not do very much. :-) But I appreciate your time constraints.

[2017-10-17 12:14] pjdelport commented on #104
#114 should fix this.

[2017-10-18 21:48] jcassee commented on #104
Fixed by #144

[2017-10-18 21:48] #104 closed

[2017-10-21 05:30] vxsg commented on #85
Hi Bittner, may I seek your advice as I encounter a similar problem when pushing my project to heroku.
ModuleNotFoundError: No module named 'analytical'.

I did my installation with pip install in virtual env and set my templates following the documentation. I'm on python 3.6 and django-analytical 2.3. I've also set the ID of the service I'm using as a heroku config var.

What could be the source

[2017-10-21 16:46] skulegirl opened #117 "Refactor setup.py (remove test setup, and the like)"
Installed from master today and ran into this error:

`django.core.exceptions.ImproperlyConfigured: Error loading either pysqlite2 or sqlite3 modules (tried in that order): No module named '_sqlite3'`

2.3.0 release doesn't seem to have this issue. Looks like commit 347df54502d4a921ff95aa0674712cdbd5c8fbf9 broke the setup.cfg.

Full text of error:
[code]

[2017-10-21 16:52] skulegirl commented on #117
Correction: Installing from pypi works fine, but installing from source fails, even before 2.3.0 release. So it's not that commit, but something else.

[2017-10-21 18:58] goabout-tech commented on #117
Not sure, but the stacktrace seems to indicate the problem is with the installation of Django?

[2017-10-21 18:59] jcassee commented on #117
Not sure, but the stacktrace seems to indicate the problem is with the installation of Django?

[2017-10-21 22:40] skulegirl commented on #117
Well, I don't have sqlite3 installed, but I shouldn't need it for this app. I did actually figure out the issue, the setup.py file tries to set the env to include the tests.settings automatically, which requires sqlite3. Remove the following from the setup.py file:

[code]

[2017-10-22 12:24] bittner commented on #85
What does your setup look like? (requirements.txt, pip install commands, Heroku configuration and commands, etc.) Do you have code samples, or the whole project open sourced? It's difficult to help when you have to do heavy guessing,

Usually, what the error means is that you don't have the package installed.

Run `pip freeze` on the host, or do some other checking, e.g. see the deployment log, on

[2017-10-22 14:47] vxsg commented on #85
thanks for being so detailed in your reply. it alerted me that i had not pip freeze to requirements.txt. i think the error is resolved. how do we check that django-analytics is operating well please? thank you.

[2017-10-22 20:37] bittner commented on #85
How would you check that your code is working well that you added as plain JavaScript to your template?

Django-analytical is nothing more than a clean replacement for directly editing your template.

*If you need a more technical answer:* Look at the tests of the analytics integration you're using. Verify those steps manually.

[2017-10-24 08:00] vxsg commented on #85
Not too sure to be honest, will check it out. Thanks once again for your help, appreciate it!

[2017-12-02 19:49] Anteru opened #120 "Support Django 2.0"
Django 2.0 breaks `if user.is_authenticated():` (utils.py, line 74), which needs to become `if user.is_authenticated:` -- this should also work from Django 1.10 onwards, see: https://docs.djangoproject.com/en/2.0/releases/1.10/#using-user-is-authenticated-and-user-is-anonymous-as-methods

[2017-12-02 21:13] bittner commented on #120
Would you mind to prepare a PR?

[2017-12-02 21:41] Anteru commented on #120
PR added.

[2017-12-06 08:28] Anteru commented on #120
Guess this can be closed then, given the PR has been merged. Hope you'll push out a release soon :)

[2017-12-06 08:28] #120 closed

[2017-12-06 13:43] bittner commented on #120
Thanks @Anteru!

[2017-12-28 12:39] Leo-G opened #122 "Can I fetch and Display Analytic reports?"
I want to fetch the top posts on my blog based on monthly views and display them on the sidebar, I am not sure if I can do that using django-analytical, can someone confirm?

[2017-12-29 16:07] bittner commented on #122
If I read your question right I'm afraid this is not what you get from django-analytical. This package is about integrating analytics services cleanly, and this typically refers to the data _collection_ feature of those services.

That said, if _"fetch the top posts on my blog based on monthly views"_ is supported by any service you know you may be able to use that with this package. The _"display

[2017-12-29 16:07] #122 closed

[2018-01-17 08:46] SKisContent opened #123 "Javascript runs afoul of content security policy"
On sites that have a HTTP content security policy that is not "unsafe-inline", the analytics Javascript fails to execute. One solution would be to let users specify a string in the settings that is inserted into the <script> opening tag.

[2018-01-18 09:53] jcassee commented on #123
Thanks for the notice, @SKisContent. What would be required specifically to work around this, can you give a bit more detail?

[2018-01-30 23:52] ArijitWeird opened #124 "Identifying authenticated users not working for google analytics"
Hello,

Gone through the docs and understand that by default ANALYTICAL_AUTO_IDENTIFY is set to True . I have already integrated django analytical with my project and it has been working fine.. Lately  I tried  to check for tracking autheticated users by turning on Enable the User-ID feature in my google  analytics. But cant see anything in my new userid view. Anything am i missing??

[2018-02-09 20:24] rileytaylor commented on #99
We're using google analytics. Normally when we don't want something to run we would use

```{% if not debug %} ...stuff... {% endif %}```

However, that doesn't appear to be working when using this plugin like so:

[code]

doesn't prevent the plugin from loading and attempting to find the ga variable, producing:

`AnalyticalException at / GOOGLE_ANALYTICS_PROPERTY_ID setting is not set`

Why is th

[2018-02-09 20:32] rileytaylor commented on #99
However, using:
[code]
does return the expected behavior. Why is this any different? I'd prefer to stick with just the google analytics tag since it's the only library we import.

[2018-02-10 12:15] bittner commented on #99
Sorry if this is not 100% the answer you want. If there is a bug or irritating behavior this deserves to be fixed. I agree. Anyway, here are my two cents on your side comment:

If you restrict yourself to a single provider what is the benefit of this? Does your code get any more readable? Do you have any performance benefits? Those are the questions you should ask yourself.

And if one day the unl

[2018-02-10 12:23] bittner commented on #99
The exception you mention above is raised at [analytical.utils, line 25](https://github.com/jcassee/django-analytical/blob/master/analytical/utils.py#L25), which in your case probably comes from [templatetags.google_analytics, line 82](https://github.com/jcassee/django-analytical/blob/master/analytical/templatetags/google_analytics.py#L82-L84) via [line 77](https://github.com/jcassee/django-analyt

[2018-02-10 16:11] rileytaylor commented on #99
That's a fair enough response, and using the generic import is doing the trick for us. I suppose that I just expected it to behave the same way. Since it doesn't behave the same way, you might consider adding some documentation about the caveats of using the individual imports.

[2018-02-10 18:37] bittner commented on #99
Mind to make a PR for this?

[2018-02-10 18:56] bittner commented on #99
BTW, as I suspected, the reason why the generic template tag works and the single one throws an exception is such that the generic tag [ignores exceptions](https://github.com/jcassee/django-analytical/blob/master/analytical/templatetags/analytical.py#L77-L82) that happen in the single implementations. Exceptions that occur in the `contribute_to_analytical` function pass silently (for a valid reaso

[2018-04-26 14:04] PiDelport opened #125 "Support for Google Analytics debugging"
It would be nice if the debug versions of the Google Analytics code can be enabled with a setting.

Details:

* [analytics_debug.js] (not supported by django-analytical yet, but see #108)
* [ga_debug.js] (legacy)

[analytics_debug.js]: https://developers.google.com/analytics/devguides/collection/analyticsjs/debugging
[ga_debug.js]: https://developers.google.com/analytics/devguides/collection/gajs/

[2018-04-26 23:06] harrislapiroff commented on #123
Another solution would be to serve up a special view that served the normally inline code as a javascript file instead. (See, for instance, how Matomo/Piwik recommends serving a `tracking.js` file: https://matomo.org/faq/general/faq_20904/)

[2018-08-20 17:27] bittner opened #132 "Piwik module should be renamed to Matomo"
As commented in PR #128, Piwik has been renamed to Matomo in the past. This should also reflect in the name of the related module.

Ideally, we should use a deprecation path, duplicating the modules while the deprecation warning is active.

[2018-08-20 17:38] bittner commented on #125
Feel free to contribute the necessary changes! :+1:

[2018-08-20 17:44] bittner commented on #124
@ArijitWeird Can you try to figure out in the related GA documentation which settings (in JavaScript code, probably) are required to make this work? django-analytical is really just injecting those code pieces as text strings, it should be easy to fix (if needed).

[2018-08-20 17:50] bittner commented on #124
Also, please make sure you understand the meaning of that flag, and you verified your Django project with the note in the [related section of our documentation](https://django-analytical.readthedocs.io/en/latest/features.html#identifying-visitors). Thanks! :+1:

[2018-10-25 07:09] charleshan opened #136 "Does the library support Intercom Events?"
it's not mentioned in the [documentation](https://django-analytical.readthedocs.io/en/latest/services/intercom.html) so I'm guessing that it may not yet have been implemented.

You can read more about event tracking in intercome here:
https://www.intercom.com/help/configure-intercom-for-your-product-or-site/customize-intercom-to-be-about-your-users/set-up-event-tracking-in-intercom

[2018-10-25 07:15] bittner commented on #136
Short answer: Yes, probably - if Intercom does.

Long answer: Everything django-analytical does is abstract away the JavaScript snippet pasting into your Django templates.

You may want to verify if the [implementation in the module](https://github.com/jcassee/django-analytical/blob/master/analytical/templatetags/intercom.py#L18-L21) still matches the instructions provided by Intercom. If not, a P

[2018-10-25 07:15] #136 closed

[2018-11-15 19:20] jcassee commented on #108
Merged #135

[2018-11-15 19:20] #108 closed

[2018-11-15 19:46] jcassee commented on #103
Fixed by #137

[2018-11-15 19:46] #103 closed

[2019-01-11 22:31] Paluschki opened #141 "Asking for consent - Piwik"
Hey guys,

I just realized that there is no way to use the "Ask for consent" feature of Matomo (Piwik). This is relevant because of the new GDPR in europe. I'm about to create a pull request for this one, but I want to hear your opinion on my implementation idea.

I want to introduce a `PIWIK_ASK_FOR_CONSENT` variable, like `PIWIK_DISABLE_COOKIES`.
To make it easy for the user of the consent funct

[2019-01-11 23:42] bittner commented on #117
Thanks @skulegirl, for identifying the issue! :+1:  This translates to: We need to

1. refactor [setup.py](https://github.com/jazzband/django-analytical/blob/master/setup.py) reducing the logic for just packaging,
1. run tests "from outside" (and without) setup.py, e.g. using pytest,
1. optionally, move the tests out of the [analytical module](https://github.com/jazzband/django-analytical/tree/mas

[2019-01-11 23:49] bittner commented on #124
Is this issue still relevant? Could you figure out whether this was a bug, or rather an unclarity in the docs?

[2019-01-13 21:29] victorbordo opened #143 "Support for Amplitude analytics"
[Amplitude](https://amplitude.com/) would be a nice integration. When I have some spare time I'd like to contribute this.

[2019-02-07 01:57] datatalking opened #144 "Photos or samples of analytics"
The fact that Django says it has analytics is good, but as a new user, there is no "this is what this analytics" look like so I am forced to read the code and hope that I understand what each module creates?

Couldn't you take a screenshot of what these python files create so we can see if this is what we are looking for?

[2019-02-07 08:55] jcassee commented on #144
I'm not exactly sure yet what you mean. Are you saying the term "analytics" is not defined clearly? Or would you like an example of the template tag expansion? Maybe you could give a suggestion in the form of a pull request?

[2019-02-07 09:24] bittner commented on #144
I believe, there is a fundamental misunderstanding in what django-analytical provides.

There are no dashboards and whatsoever. This is what [the services](https://github.com/jazzband/django-analytical#currently-supported-services) provide for evaluation that you subscribe to. Use _your_ account with _them_ to both set up analytics tracking and evaluate analytics results.

django-analytical is jus

[2019-02-07 09:24] #144 closed

[2019-02-07 09:29] datatalking commented on #144
Hi Peter,

Thanks for replying so quickly.

I’m misunderstanding this then.

I was thinking this was an analytics app for Django, but I’m… to me analytics means a dashboard of KPI.

Your documentation is elegant and efficient but if I can’t see the result of what it does I can’t understand what it does.

[2019-02-07 09:42] bittner commented on #144
I understand this clearly. Could it be that you are maybe not the audience this module is trying to address? Python modules are for programmers, not data analysts.

It may be needed to rephrase the very first paragraph(s) of the README or documentation in a way that conveys the purpose of this module even more clearly. But how do you do that without limiting yourself to a specific target audience?

[2019-02-07 11:38] datatalking commented on #144
Its entirely possible that I am trying to put a round peg in a square hole.

This seems less of an analytics GUI and more of a headless interface for 3rd party API’s ?

I think what I am looking for is more like

https://www.fiverr.com/yawyaw213/build-your-django-dashboards
or
https://medium.com/@hakibenita/how-to-turn-django-admin-into-a-lightweight-dashboard-a0e0bbf609ad

Thanks for your help.

[2019-02-07 12:12] jcassee commented on #144
Yes, exactly, this project is for integrating, for example, Google Analytics and not building your own dashboards.

[2019-02-07 13:04] bittner commented on #144
There you go! _That_ person may want to use django-analytical. Under the hood. And he may not even tell you about it.

[2019-02-26 03:54] charleshan commented on #143
+1

[2019-03-22 14:39] bittner opened #145 "Use Codacy instead of Landscape (replace badge)"
@jezdez I just like to let you know that I requested access for the Codacy app on GitHub on probably the entire jazzband organization. What I intended was just for this repository.

Background: I'm about to phase out the Landscape service for monitoring our code quality and use Codacy instead. I'm also replacing the related badge at the top of the README.

I hope that's fine.

[2019-04-06 18:23] sckarlin commented on #132
OK if I take a stab at this?

[2019-04-06 19:37] jcassee commented on #132
@sckarlin Absolutely!

[2019-04-09 07:25] bittner commented on #145
The related change can be seen in https://github.com/jazzband/django-analytical/pull/149/commits/addf53d01c7e1db6916a08bf051613c631ba1b14.

[2019-04-09 12:58] bittner opened #151 "Review (and fix) security issues"
Bandit [reports](https://travis-ci.org/jazzband/django-analytical) that we have potential security issues with the use of [mark_safe](https://docs.djangoproject.com/en/stable/ref/utils/#module-django.utils.safestring).

Affected locations:

- [templatetags.mixpanel](https://github.com/jazzband/django-analytical/blob/master/analytical/templatetags/mixpanel.py#L77)
- [templatetags.performable](https

[2019-04-10 07:26] #132 closed

[2019-09-10 18:08] jmfederico commented on #124
I can confirm it is not working.
Both mentioned `context_processors` are set, but still no user is identified.

Function `get_identity()` is not being called from within GA implementation.

[2019-09-12 06:38] bittner commented on #124
Can you compare the JavaScript code our implementation uses with the one of the current docs of Big Google? Maybe this is out-of-date here and needs to be aligned again?

**Explanation:** This library is not doing much more than cleanly providing the JavaScript code the service providers suggest in their documentation.

[2019-10-11 18:07] CaseGuide commented on #143
+1

[2020-04-02 23:44] bittner commented on #28
Just a heads-up: There are two PRs that are candidates for solving this issue: #140 and #154

## Please, consider replacing the old module

As a side-note, I'd really appreciate if the currently deprecated [google_analytics](https://github.com/jazzband/django-analytical/blob/master/analytical/templatetags/google_analytics.py) implementation would be replaced by an up-to-date version of [google_ana

[2020-05-21 10:31] sevdog commented on #123
`django-csp` has a [context processor](https://django-csp.readthedocs.io/en/latest/nonce.html#context-processor) to inject `nonce` into render context and also can add it to response headers.

If analytics nodes could add a placeholder in their script template to handle this template variable it could be easy to use.

[2020-07-05 12:50] taharushain opened #163 "Google analytics Measurement ID Issue"
I am getting an error when setting a Measurement ID for GOOGLE_ANALYTICS_GTAG_PROPERTY_ID as my project uses an App+Web property.

`
GOOGLE_ANALYTICS_GTAG_PROPERTY_ID setting: must be a string looking like 'UA-XXXXXX-Y': 'G-XXXXXXXXXX'
`

I think gtag.js inherently supports both features, and the test case for this should be fixed to take both strings.

[2020-07-05 13:19] bittner commented on #163
Can you verify which change would be necessary to the django-analytical code? Ideally, you would create a PR for that.

[2020-07-05 20:52] taharushain commented on #163
Hi @bittner , I have sent in a PR, I believe fixing the regex should suffice.

[2020-07-06 13:09] CleitonDeLima commented on #163
Hi,

My GOOGLE_ANALYTICS_GTAG_PROPERTY_ID (Google Ads) starts with prefix `AW-`.
Would it be interesting to accept anything?

[2020-07-06 13:21] jcassee commented on #163
Hmm... it might be time to drop the syntax check altogether. What do you think @bittner?

[2020-07-09 18:59] bittner commented on #163
Probably.

(Frankly, I don't care, because I don't use Google Analytics and I would encourage everyone to stop using it, too. But that's a totally different discussion.)

What does Google's documentation say? Are there official patterns of valid ID's? If not let's make it simple for everyone.

[2020-07-10 08:07] jcassee commented on #163
To quote from the page @CleitonDeLima linked to:

Product prefixes for global site tags
UA | Your global site tag is controlled by Google Analytics. The ID  is your Google Analytics Measurement ID. To find the property  associated with this ID, use the account search feature in Google Analytics. If the property does not appear, you probably do not have access to it.
-- | --
G | Your global site ta

[2020-07-17 12:15] taharushain commented on #163
@bittner what do you recommend for analytics?
Considering the above shared quote by @jcassee , I am also of the view that the pattern check should be dropped all together but it also seems from this that G/AW/DC are valid prefixes while anything else (others) are probably invalid.

[2020-07-29 15:09] jcassee commented on #163
Let's first merge #164 and when the next tag type breaks it remove it altogether.

[2020-08-02 10:39] #163 closed

[2020-10-30 09:56] Hafnernuss opened #165 "generic tags not working when using matomo?"
Hi,

I have successfully setup a matomo tracking server and wanted to integrate tracking inside my django project.:

settings.py:
[code]

and added all necessary generic template tags in my base.html:
[code]

But the matomo tracking code does not render. However, when I use the matomo tags, it works:
[code]

Since there is no error output of any kind, I am wondering what I missed?

regards,

Phili

[2020-10-30 10:07] Hafnernuss commented on #165
Well.....
`{% analytical_body_bottom $}`
was the problem. I am obviosuly blind. It now works as expected.

[2020-10-30 10:07] #165 closed

[2020-11-13 16:40] johnmathews opened #166 "Is SnapEngage supported?"
Its listed in your readme, but not in your docs on the installation and config page.

[2020-11-13 16:45] bittner commented on #166
Yes, it's in the code: https://github.com/jazzband/django-analytical/search?q=SnapEngage

It's also covered by [our documentation](https://django-analytical.readthedocs.io/en/latest/services/snapengage.html).

I hope that helps.

[2020-11-13 16:45] #166 closed

[2020-11-13 16:50] bittner commented on #166
@jcassee Do you happen to know why this service is not mentioned in the [Installation and configuration](https://django-analytical.readthedocs.io/en/latest/install.html) section?

The [SNAPENGAGE_WIDGET_ID](https://django-analytical.readthedocs.io/en/latest/services/snapengage.html#setting-the-widget-id) needs to be set, so this seems to have been missed out in the docs. Or is there something @joh

[2020-11-23 15:10] bittner opened #168 "BirdSeed integration"
I found [BirdSeed](https://birdseed.io/), which seems to be a promising one-does-it-all solution for customer engagement and analytics. Their [pricing](https://birdseed.io/pricing/) also is pretty fair, far from abusive.

Is anyone interested in having that integrated? Thumbs up, please!

[2020-11-30 09:49] motoaviation commented on #168
I said get lost lootian, we are poor that's why we are programming i don't about others but for myself it's sure

[2020-11-30 10:54] bittner commented on #168
_Comment deleted and reported as spam._

[2020-11-30 22:07] bittner commented on #117
@skulegirl PR #171 removed the code [you objected about](https://github.com/jazzband/django-analytical/issues/117#issuecomment-338437270), reducing the overall complexity of our `setup.py`.

Hence, it's very likely that your issue is now fixed. Please, let us know if this is not the case.

[2020-11-30 22:07] #117 closed

[2020-12-03 19:05] bittner opened #172 "Lucky Orange integration"
[Lucky Orange](https://www.luckyorange.com) is another website visitor surveillance service. They call themselves, the original all-in-one conversion optimization suite.

Basically, they're similar to Hotjar, but with a more aggressive business model (e.g. only 7 days free tier).

[2020-12-03 21:51] bittner opened #173 "Gitter Sidecar integration"
[Gitter](https://gitter.im/), the free developer chat originally that integrates with GitHub and GitLab, can be integrated as a "website chat box".

This is called [Gitter Sidecar](https://sidecar.gitter.im/). It allows some tweaks (mainly styling, some behavior) that are not always straight-forward to implement, and a solution that takes care to avoid common mistakes may prove helpful.

Gitter Si

[2020-12-05 13:33] bittner commented on #166
Thanks @johnmathews for reporting this problem! :medal_sports:

[2020-12-06 17:18] bittner opened #178 "New release and follow-up tasks"
We're close to a new release, and it make sense to discuss a few thing before that happens:

- We now have v2.6.0 and the current `master` holds code that has removed any support for Python 2.7. I would guess that qualifies for bumping the version number to v3.0.0 (rather than v2.7.0). – Any other opinions?

For what it's worth to think about after the release:

- The [Piwik module](https://github

[2020-12-06 19:45] #172 closed

[2020-12-24 15:34] kobus-v-schoor opened #182 "Clickmap link in README links to spammy website"
The Clickmap link in the readme (http://getclickmap.com/) is currently redirecting to a spammy betting website

[2020-12-24 15:39] bittner commented on #182
Thanks for reporting this! Do you happen to know which is the correct URL of that service? Is it www.clickmap.ch?

[2020-12-24 15:45] kobus-v-schoor commented on #182
Unfortunately I have no idea, haven't heard of them before but www.clickmap.ch looks like it could be the service (although it also looks a bit dodgy) - maybe the company closed down? I'm unable to find anything to back this up though

[2020-12-28 19:09] carlosnasillo opened #183 "Support for Google Analytics 4 tags"
Any new Google Analytics account is not able to create the previous 'universal' properties (UA-XXXXXX-Y, AW-XXXXXXXXXX, UA-XXXXXX-X, DC-XXXXXXXX) and instead now the tracking IDs look like (G-XXXXXXXXXX).

https://blog.google/products/marketingplatform/analytics/new_google_analytics
https://support.google.com/analytics/answer/10089681

As a result Django-analytical does no longer support for any o

[2020-12-30 10:13] bittner commented on #183
Thanks, Carlos, for reporting this problem.

Can you suggest a specific change? Do you want to try a PR?

[2021-01-21 08:36] jcassee opened #184 "Default value for SECURE_REFERRER_POLICY in Django 3.1 breaks Clicky"
Django 3.1 has a new default `SECURE_REFERRER_POLICY` value of `same-origin`, which hides the referrer from third party sources like Clicky. Clicky depends on the referrer (which, relative to the beacon, is the domain running Django) for domain validation. This breaks the integration by default. See:

https://docs.djangoproject.com/en/3.1/ref/middleware/#referrer-policy
https://clicky.com/help/faq

[2021-02-11 09:05] likecodeingloveproblems commented on #183
Hi, I hope to solve this problem.
but i am new to git contribution.
can you help me to solve it?

[2021-02-11 10:27] likecodeingloveproblems opened #185 "how to set enhanced eCommerce in google analytics"
this page describe how to implement Google Analytics Enhanced eCommerce with gTag.
I don't know how to implement it?

[2021-02-11 12:41] bittner commented on #185
I'm not sure what your question is, but if you want to integrate GA in Django cleanly with [django-analytical](https://pypi.org/project/django-analytical/) and you're a total fresher, start here:

1. [Tutorial](https://django-analytical.readthedocs.io/en/latest/tutorial.html)
1. [Installation and configuration](https://django-analytical.readthedocs.io/en/latest/install.html)
1. [Google Analytics (

[2021-02-11 13:14] likecodeingloveproblems commented on #185
I know how to install and configure it and use it  in my project.
I know how to clone it.
but I don't know how to use cloned app in my existing project?

[2021-02-11 14:07] bittner commented on #183
@likecodeingloveproblems It's good to hear that! Contributors are the best people around!

It's actually simple, as for the code change:

1. You'd have to adjust the regular expression in [templatetags/google_analytics_gtag.py](https://github.com/jazzband/django-analytical/blob/master/analytical/templatetags/google_analytics_gtag.py#L16), so that it allows the patterns @carlosnasillo listed above.

[2021-02-11 19:44] likecodeingloveproblems commented on #183
thanks
you are really kind

1.You'd have to adjust the regular expression in templatetags/google_analytics_gtag.py, so that it allows the patterns @carlosnasillo listed above.
it is already adjusted to regular expression "^G-[a-zA-Z0-9]+$"

2.And, of course, also align the related tests.
and all test by running **tox** passed

[2021-02-12 22:25] likecodeingloveproblems commented on #185
@bittner thanks for your response
this [page](https://developers.google.com/analytics/devguides/collection/gtagjs/enhanced-ecommerce) describe how to set enhanced eCommerce with gtag but i don't see any thing for this purpose in documentation and in code.
Is this feature available?

[2021-02-13 13:47] bittner commented on #183
@carlosnasillo Can you clarify your statement?

A `G-XXXX...` ID seems to be accepted by django-analytical, see [PROPERTY_ID_RE](https://github.com/jazzband/django-analytical/blob/master/analytical/templatetags/google_analytics_gtag.py#L16) in `google_analytics_gtag.py`.

[2021-02-13 20:53] carlosnasillo commented on #183
@bittner @likecodeingloveproblems

Back when I was updating my GA tag from G3 (ie. UA-XXXXXX-Y) to the new G4 (G-XXXXXXXXXX) it was not being parsed as 'correct' by the regular expression when using `GOOGLE_ANALYTICS_JS_PROPERTY_ID`.

See the [PROPERTY_ID_RE](https://github.com/jazzband/django-analytical/blob/896a19196f0ecca146e4cb8fb3b26e71e15642c8/analytical/templatetags/google_analytics_js.py#L

[2021-02-22 18:06] likecodeingloveproblems opened #188 "how to set identity_func"
In https://github.com/jazzband/django-analytical/blob/37009f2e08e78d41ddc1bdd1e940f195c3ae4352/analytical/utils.py#L64 identity_func is defined but in google_gtag there is not any way to set it?

[2021-07-07 12:19] kesara opened #190 "Ability to push custom commands to Matomo"
At the moment only django-analytical allows [custom variables](https://django-analytical.readthedocs.io/en/latest/services/matomo.html#user-variables) to be passed into Matomo.

It would be nice, if we can pass custom commands similar way, so features like [track 404](https://matomo.org/faq/how-to/faq_60/) can be achieved easily.

[2021-07-10 22:05] SilverStrings024 opened #192 "Respecting Consent ( Possible fix for #141 )"
I saw #141 asking about how to respect the users choice when it comes to tracking and I was wondering why we can't just define a dotted path to a function that will tell if the user accepted or rejected tracking in settings.py and make the template tag comment out the tracking code if the function returns False like it does if the users ip address is an internal ip.

It's an easy, fast, non-obstru

[2021-07-11 08:09] bittner commented on #192
Sounds like a good idea!

If you feel that #142 is not good enough of a PR do you want to try and open an alternative one as a contribution?

[2021-07-12 06:18] SilverStrings024 commented on #192
Sure! I'll take a look at the current code and see what I can come up with!

[2021-07-12 09:03] SilverStrings024 commented on #192
@bittner I finished the PR but git is saying I'm not allowed to push?

[2021-07-12 17:29] SilverStrings024 commented on #188
That's weird, I don't see it either. Does gtag not track users with identities? If they do then you could submit a PR to patch this.

[2021-07-13 04:04] bittner commented on #192
You need create your own fork of this repository, push the changes to your own fork (that will work) and place a PR from there.

[2021-07-13 04:16] SilverStrings024 commented on #192
OOOOOOH *sigh* wow. Alright, thank you. I came up with a much better solution. Once I get this working, I'll be pushing

[2021-07-13 04:46] SilverStrings024 commented on #192
PR #193 Takes care of this

[2021-07-13 04:46] #192 closed

[2021-07-16 11:35] garrettc commented on #47
I've created a PR for Heap integration. https://github.com/jazzband/django-analytical/pull/194

[2021-09-29 09:05] Ak4zh opened #196 "Ability to pass FACEBOOK_PIXEL_ID directly in template tag"
I have one django app hosted with multiple domains and sub-domains, and have different `FACEBOOK_PIXEL_ID` for all domains.
For I ues `request.get_host` to deside which css etc to serve for the current request.

Is it possible to allow FACEBOOK_PIXEL_ID to be passed in the tag itself `{% facebook_pixel_head FACEBOOK_PIXEL_ID %}`

[2021-10-06 03:21] keyvanm opened #197 "GA not tracking logged in users, GTAG user_id seems to require a different syntax now"
Hi,

Thank you for this library! I've been using this for Google Analytics but having trouble loading user-id information there.

It seems like per [Google documentation](https://support.google.com/analytics/answer/9213390#implement-user-id&zippy=%2Cin-this-article) the code required to send `user_id` information looks like this:
[code]

What the library renders is this:
[code]

Perhaps this is no

[2021-11-15 14:49] garrettc commented on #47
@bittner Can you review the PR above so it can run through the automated tests please.

[2021-11-24 14:19] anukaal opened #200 "support for python 3.10"
add support for python version 3.10

[2021-11-26 00:21] bittner commented on #200
This is covered by #198.

[2021-11-26 00:21] #200 closed

[2021-11-26 00:43] bittner commented on #47
Sorry for the late. I reviewed the PR just now.

[2021-12-23 13:49] bittner commented on #197
Sure, feel free to submit a PR to fix the implementation. Thank you!

[2022-02-04 18:11] bittner opened #204 "Rename default branch (master ➜ main)"
Can we rename the default branch to `main`, just like many other popular projects, @jezdez?

I'd be ready to apply the necessary changes to the pipeline implementation.

[2022-02-04 21:43] jezdez commented on #204
Absolutely, say the word and I rename the branch.

[2022-02-06 20:08] #204 closed

[2022-04-05 16:52] theSekyi commented on #183
Has this issue been resolved? I will like to contribute to this if it is still open.

[2022-04-12 13:30] bittner commented on #183
If I'm not mistaken this issue is still unsolved. Feel free to open a PR.

[2022-04-13 07:48] theSekyi commented on #183
Alright. I'll work on this

[2022-05-07 09:04] janbaykara opened #211 "Support for Posthog"
posthog.com/ is an open source product analytics platform, comparable to Mixpanel. I think they'd make a great addition and would probably support an integration somehow.

[2022-05-07 12:19] bittner commented on #211
Looks good!

Feel free to contribute the integration! – That's a quick thing to do. Do you know how to get started?

[2022-06-22 19:33] kevin-olbrich opened #212 "Allow to set a custom location for google analytics js - support for proxy"
Hi!

It would be very convenient to be able to change the JS import path / url to support proxying GA data:
https://gist.github.com/paivaric/211ca15afd48c5686226f5f747539e8b

[2022-06-24 16:00] bittner commented on #212
Feel free to [make the code parametrizable](https://github.com/jazzband/django-analytical/blob/main/analytical/templatetags/google_analytics_js.py#L24-L34) and submit a PR for the required change!

[2022-06-28 11:53] kevin-olbrich commented on #212
Ok, I'll have a look.

[2022-07-06 06:30] #212 closed

[2022-07-06 21:55] bittner commented on #178
The Piwik module was removed via PR #213. :bomb:

[2022-07-06 21:58] bittner commented on #28
Anyone willing to consolidate the 3 `google_analytics*` modules into a single one? That would be a great contribution for an upcoming version 4.0.0 release. :rocket: :guitar:

[2022-07-13 15:45] bittner commented on #188
This is likely related to #189. Can you take a look?

[2022-07-13 18:36] bittner opened #216 "Matomo ReDoS vulnerability (regex denial of service)"
We have been contacted by junior security researchers who pointed out that [one of our regular expressions](https://github.com/jazzband/django-analytical/blob/f487cb895c1fd6d10c075d8203e2ad22d9f644d0/analytical/templatetags/matomo.py#L20) in the Matomo module makes software using Analytical vulnerable to [Regular expression Denial of Service attacks](https://owasp.org/www-community/attacks/Regular

[2022-07-14 08:56] #182 closed

[2022-07-14 10:38] PetrDlouhy commented on #188
Setting the identity is possible by context variable. Here is my attempt to better document how to do it: #219

Also the gtag provider is missing the prefix which is fixed in #217, for now only `analytical_identity` variable works.

[2022-07-18 15:10] bittner opened #221 "Latest docs must build from `main` (not `master`)"
As can be seen on RTD, the "latest" docs [are configured to build](https://readthedocs.org/projects/django-analytical/versions/) from the `master` branch. However, we switched the default branch to `main` with #204 half a year ago. We apparently overlooked that updating the RTD configuration settings was necessary, too.

@jcassee Can you update the value on RTD, please, and trigger a build of the

[2022-07-21 09:04] jcassee commented on #221
![afbeelding](https://user-images.githubusercontent.com/20749/180175043-9603b9c6-dc60-4446-9be5-ee6f52eb0369.png)

Anyway, I set it to "main".

[2022-07-21 09:21] jcassee commented on #221
I also made @bittner maintainer at RTD. Thanks for noticing the problem.

[2022-07-21 09:21] #221 closed

[2022-07-21 10:55] bittner commented on #221
Great! Thanks, Joost! :1st_place_medal:

[2022-10-14 07:52] bittner commented on #196
(Sorry that this answer comes late!)

How do you currently set the [FACEBOOK_PIXEL_ID](https://github.com/jazzband/django-analytical/blob/main/analytical/templatetags/facebook_pixel.py#L26-L30) in your application configuration? Wouldn't a simple `if`-`then`-`else` in your project settings module do the trick? e.g.

[code]

Apparently, the trick here is to get access to the `request` object. If th

[2022-10-15 15:28] serenamm opened #224 "basic mixpanel tracking"
Hi!

Thanks so much for creating this repo. I'm having trouble doing basic mixpanel tracking.

I've set up my template html file to look like this:

[code]

and my `settings.py` file looks like:

[code]

I also added my `MIXPANEL_API_TOKEN` to `settings.py` as well, and I have `django-analytical==3.1.0` in my `requirements.txt` file.

I deployed these changes to a test website, so it's in prod, no

[2022-10-16 04:01] bittner commented on #224
I think you're mixing up the [generic setup](https://django-analytical.readthedocs.io/en/latest/install.html#adding-the-template-tags-to-the-base-template) for Analytical and the [specific setup](https://django-analytical.readthedocs.io/en/latest/services/mixpanel.html) for Mixpanel.

Try to remove the `{% mixpanel %}` from your code. It should only be necessary if you don't (want to) use the gene

[2022-10-18 07:51] bittner commented on #224
I can't answer this question for sure. Usually, [our documentation](https://django-analytical.readthedocs.io/en/latest/services/mixpanel.html) walks you through the complete setup steps, at least on the Django side.

Note that Analytical is really just a template tag library that injects a JavaScript code snippet into your Django templates. All the rest depends on the provider of the analytics ser

[2022-10-18 09:41] jcassee commented on #224
I can answer that. Because it's not obvious what events are "interesting", django-analytical will not send any events itself. There is some hints about [sending events yourself in the documentation](https://django-analytical.readthedocs.io/en/latest/services/mixpanel.html#tracking-events), and a very old issue (#10) on doing something generic.